name: Publish mod

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Build with Gradle Wrapper
        run: ./gradlew build
      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: 97vlORDL
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          game-versions: |
            26.1-snapshot-2
